name: PR Slack Notification
on:
  pull_request:
    types: [opened, reopened]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: "<!here> PR for ${{ github.event.pull_request.head.ref }} - ${{ github.event.pull_request.html_url }}"
          SLACK_FOOTER: ""
